<!DOCTYPE html>
<html>
  <head>
    <title>Pokedex</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      window.POKEMON_TYPES = <%=raw Pokemon::TYPES %>
    </script>

    <style>
      a {
        text-decoration:none;
      }

      a:visited {
        color: white;
      }

      body {
        background-color: black;
        font-family: Helvetica;
      }

      .pokemon-entries-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        grid-gap: 2px;
      }

      .pokemon-entry {
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 1px solid white;
        font-size: 18px;
        padding: 10px;
      }

      @-webkit-keyframes Gradient {
        0% {
          background-position: 0% 50%
        }
        50% {
          background-position: 100% 50%
        }
        100% {
          background-position: 0% 50%
        }
      }

      .pokemon-entry:nth-child(even) {
        background-color: maroon;
      }

      .pokemon-entry:hover {
        background-color: #a17f1a;
        color: white;


        background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
        background: url('https://static.comicvine.com/uploads/original/11116/111164301/3876755-6032727170-pikac.gif')
      }

      img {
        height: 100px;
        width: 100px;
      }

      header {
        grid-gap: 3px;
      }

      .pokemon-entry-page {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        background: gold;
        color: black;
      }

      .page {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .page p {
        font-size: 20px;
      }

      .pokemon-entry-page img {
        width: 200px;
        height: 200px;
      }

      .all-content-container {
        display: grid;
        grid-template-columns: 1fr 20%;
      }

      .song {
        width: 100%;
        background: black;
      }

      .sub-header {
        display: flex;
      }

      .sub-header img {
        width: 50px;
        height: 50px;
        animation: spin 1s infinite;
      }

      @keyframes spin {
        from {
          -webkit-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
          }
        to {
          -webkit-transform: rotate(360deg);
          -o-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }

    </style>
  </head>

  <body>
    <header>
      <img src="http://pa1.narvii.com/5822/5182c04979002a215435bee7cb28358d79b78e18_hq.gif">
      <img src="https://media.giphy.com/media/pRjxSa5WlaDXq/giphy.gif">
      <img src="https://media.giphy.com/media/5jjASagXcBaDK/giphy.gif">
    </header>
    <div class="sub-header">
      <img src="http://purepng.com/public/uploads/large/purepng.com-pokeballpokeballdevicepokemon-ballpokemon-capture-ball-17015278258617bdog.png">
      <audio controls class="song">
        <source src="https://ia801207.us.archive.org/25/items/PokemonThemeSong/Pok%C3%A9mon%20Theme%20Song.mp3" type="audio/mpeg">
      </audio>
      <img src="http://purepng.com/public/uploads/large/purepng.com-pokeballpokeballdevicepokemon-ballpokemon-capture-ball-17015278258617bdog.png">
    </div>
    <%= yield %>

  </body>
</html>
